<div class='container'>
  <div class='row'>
    <div class='col-md-4'>
      <p>&copy; 2013 by Bad Man Yells. All rights reserved.</p>
    </div>
    <div class='col-md-8 text-right'>
      <%= link_to 'http://www.facebook.com/badmanyells' do %><i class='fa fa-facebook'></i><% end %>
      <%= link_to 'http://www.twitter.com/badmanyells' do %><i class='fa fa-twitter'></i><% end %>
      <%= link_to 'http://instagram.com/badmanyells' do %><i class='fa fa-instagram'></i><% end %>
    </div>
  </div>
</div>
