<div class='container'>
  <div class='nav'>
  <%= image_tag 'header.jpg', class: 'img-responsive' %>
  <div class='row'>
    <div class='col-sm-2'><a href='/'>home</a></div>
    <div class='col-sm-2'><a href='/biography'>biography</a></div>
    <div class='col-sm-2'><a href='/shows'>shows</a></div>
    <div class='col-sm-2'><a href='/listen'>listen</a></div>
    <div class='col-sm-2'><a href='/contact'>contact</a></div>
  </div>
  </div>
</div>
