<div class='container'>
  <div class='nav'>
  <%= image_tag 'header.jpg', class: 'img-responsive' %>
    <ul>
      <li><a href='/'>home</a></li>
      <li><a href='/biography'>biography</a></li>
      <li><a href='/shows'>shows</a></li>
      <li><a href='/listen'>listen</a></li>
      <li><a href='/contact'>contact</a></li>
    </ul>
  </div>
</div>
