<h1>Biography</h1>
<p>Bad Man Yells is comprised of 4 long time friends from New York City:</p>
<p>
  Danny Klau (bass)<br />
  Daniel Rios (drums)<br />
  Jackson Nardelli (guitar and vocals)<br />
  Roman Urbanski (guitar and vocals)<br />
</p>

<p>We believe in good music and are influenced by those who have spent their lives deticated to creating it.  We only aim to continue the tradition.</p>

<%= image_tag 'four_shot.jpg' %>
