<div class='row'>
  <div class='col-md-4'>
    <h1>Get in touch</h1>
    <p>Social us up:</p>
    <%= link_to 'http://www.facebook.com/badmanyells' do %><i class='fa fa-facebook'></i><% end %>
    <%= link_to 'http://www.twitter.com/badmanyells' do %><i class='fa fa-twitter'></i><% end %>
    <%= link_to 'http://instagram.com/badmanyells' do %><i class='fa fa-instagram'></i><% end %>

    <h2>Booking Inquiries</h2>
    <a href='mailto:badmanyells@gmail.com'>badmanyells@gmail.com</a>
  </div>
  <div class='col-md-8'>
    <%= image_tag 'bitter_show.jpg', class: 'img-responsive' %>
  </div>
</div>
